@use "global" as *;

.business {
background-color: var(--bg-color);
padding-block: rem(80);
container-type: inline-size;
@include mq('md') {
padding-block: rem(120);
}
}

.business__lead {
  font-size: rem(14);
  font-weight: var(--font-weight-bold);
  line-height: 2.07143;
  margin-top: rem(20);
  margin-top: rem(50);
  @include mq('md') {
    font-size: clamp(10px, calc(16 * 100 / var(--cq-ref) * 1cqw), 17px);
    line-height: 2;
    margin-top: rem(30);
  }
}

.business__list {
margin-top: rem(50);
display: grid;
grid-template-columns: 1fr;
gap: rem(40);
@include mq('md') {
grid-template-columns: repeat(2, 1fr);
gap: rem(50) rem(30);
}
}

.business__item--01 {
@include mq('md') {
  grid-column: 1 / span 2;

  & .business__img {
    aspect-ratio: 1088 / 220;
  }
}
}

.business__item-content {
display: block;
position: relative;
}

.business__img-wrap {
position: relative;
border-radius: 0 0 50px 0;
overflow: hidden;
@include mq('md') {
  --grad-color: rgb(0,0,0);
  --grad-stop: 95%;
}
}

.business__img-wrap::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  pointer-events: none;
  background: linear-gradient(
    180deg,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0) 60%,
    var(--grad-color, #000) 100%);
  @include mq('md') {
    background: linear-gradient(
      180deg,
      rgba(0,0,0,0) 0%,
      rgba(0,0,0,0) 60%,
      var(--grad-color, #000) var(--grad-stop, 95%)
    );
  }
  }

.business__img {
height: auto;
object-fit: cover;
aspect-ratio: 315 / 170;
border-radius: 0 0 50px 0;
@include mq('md') {
aspect-ratio: 529 / 220;
}
}

.business__subtitle {
  position: absolute;
  bottom: rem(20);
  left: rem(20);
  color: var(--white);
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  font-size: rem(18);
  font-weight: var(--font-weight-bold);
  pointer-events: none;
}

.business__subtitle::after {
  content: "";
  position: absolute;
 top: 50%;
 translate: 0 -50%;
 background: url('../images/common/btn-arrow-red.webp') no-repeat center center / contain;
 width: rem(28);
 height: rem(8);
 right: rem(-40);
}



.business__text {
  font-size: rem(14);
  font-weight: var(--font-weight-bold);
  line-height: 2.07143;
  margin-top: rem(20);
  @include mq('md') {
  line-height: 2;
  }
}

