@use "global"as *;

.faq {
  margin-top: rem(80);
  padding-bottom: rem(80);

  @include mq('md') {
    margin-top: rem(150);
    padding-bottom: rem(200);
  }
}

.faq__inner.sub-inner {
  @include mq('md') {
    max-width: rem(900);
  }
}

.faq__group {
  margin-top: rem(50);

}

.faq__group-title {
  font-size: rem(20);
  font-weight: var(--font-weight-bold);
  line-height: 1.55;
  text-align: center;

  @include mq('md') {
    font-size: rem(24);
    line-height: 1.33333;
  }
}

.faq__list {
  margin-top: rem(20);
}


.faq__item {
  border-top: 1px solid var(--line-color2);
  transition: border-color var(--duration-base) ease;

  &:last-child {
    border-bottom: 1px solid var(--line-color2);

    @media (any-hover: hover) {
      &:hover {
        border-bottom-color: var(--main-color2);
      }
    }
  }

  @media (any-hover: hover) {
    &:hover {
      border-top-color: var(--main-color2);

      &+.faq__item {
        border-top-color: var(--main-color2);
      }
    }

    &:hover .faq__item-question-text {
      color: var(--main-color2);
    }
  }
}

.faq__item.is-open {
  border-top-color: var(--main-color2);

  &+.faq__item {
    border-top-color: var(--main-color2);
  }

  &:last-child {
    border-bottom-color: var(--main-color2);
  }

  & .faq__item-question-text {
    color: var(--main-color2);
  }
}


.faq__item-question-btn {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  width: 100%;
  transition: opacity var(--duration-base) ease;
  align-items: center;
  padding: rem(10) rem(9);
  background: none;
  border: none;
  cursor: pointer;

  @include mq('md') {
    padding: rem(10) rem(30) rem(10) rem(20);
  }
}


.faq__item-question-icon {
  color: var(--main-color2);
  font-family: var(--font-family-second);
  font-size: rem(24);
  font-weight: var(--font-weight-light);
  line-height: 1.66667;
}

.faq__item-question-text {
  font-size: rem(13);
  font-weight: var(--font-weight-medium);
  line-height: 1.66667;
  text-align: left;
  padding-inline: rem(16) rem(10);
  transition: color var(--duration-base) ease;

  @include mq('md') {
    font-size: rem(14);
  }
}

.faq__item-question-toggle-icon {
  width: rem(16);
  height: rem(2);
  background-color: var(--main-color2);
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
    background-color: var(--main-color2);
    rotate: 90deg;
    transition: rotate var(--duration-base) ease;
  }
}

.faq__item.is-open .faq__item-question-toggle-icon::before {
  rotate: 0deg;
}

.faq__item-answer {
  overflow: hidden;
  max-height: 0;
  transition: max-height var(--duration-base) ease;

  &.is-open {
    max-height: 100%;
  }
}

.faq__item-answer-text {
  font-size: rem(13);
  font-weight: var(--font-weight-bold);
  line-height: 1.53846;
  border-radius: 10px;
  background: var(--bg-color);
  padding: rem(20);
  margin-block: rem(10);
  display: block;

  @include mq('md') {
    font-size: rem(14);
    padding: rem(30) rem(50);
  }
}

.faq__item-answer-link {
  color: var(--main-color2);
  text-decoration: underline;
  transition: opacity var(--duration-base) ease;
  @media (any-hover: hover) {
    &:hover {
      opacity: 0.7;
    }
  }
}