@use "global" as *;

.interviews {
  padding-block: rem(80);
  margin-bottom: rem(80);
  background-color: var(--bg-color);
  @include mq('md') {
    padding-block: rem(120);
    margin-bottom: rem(179);
  }
}
.interviews__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: rem(15);
  margin-top: rem(50);

  @include mq('md') {
    grid-template-columns: repeat(5, 1fr);
  }
}

.interviews__link {
  display: block;
  position: relative;

  @media (any-hover: hover) {
    &:hover {
      .interviews__info-inner::after {
        right: rem(-37);
      }
    }

    &:hover .interviews__img {
      transform: scale(1.05);
    }
  }
}

.interviews__img-wrap {
  overflow: hidden;
  border-radius: 14.181px;

  @include mq('md') {
    border-radius: 20px;
  }
}

.interviews__img {
  height: auto;
  object-fit: cover;
  aspect-ratio: 149.76 / 227;
  border-radius: 14.181px;
  transition: transform var(--duration-base) ease;
  will-change: transform;

  @include mq('md') {
    aspect-ratio: 208 / 314;
    border-radius: 20px;
  }
}


.interviews__info {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--main-color);
  padding-inline: rem(8);
  padding-block: rem(5);
  border: 1px solid var(--main-color);
  transition: background-color var(--duration-base) ease;
  min-width: rem(124.796);
  max-width: 90%;
  border-radius: 0 12.56px 0 0;

  @include mq('md') {
    min-width: rem(180);
    padding-inline: rem(15);
    padding-block: rem(7);
    border-radius: 0 20px 0 0;
  }
}

.interviews__info-inner {
  position: relative;
}

.interviews__info-inner::after {
  content: "";
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  background: url('../images/common/btn-arrow-small.svg') no-repeat center center / contain;
  width: rem(20);
  height: rem(8);
  right: rem(-20);
  transition: background var(--duration-base) ease, right var(--duration-base) ease;

  @include mq('md') {
    right: rem(-32);
    height: rem(8);
    width: rem(30);
  }
}

.interviews__name {
  color: var(--white);
  font-size: rem(12);
  font-weight: var(--font-weight-bold);
  line-height: 1;
  transition: color var(--duration-base) ease;

  @include mq('md') {
    font-size: rem(16);
  }
}

.interviews__position {
  color: var(--white);
  font-size: rem(6);
  font-weight: var(--font-weight-bold);
  line-height: 1.2;
  transition: color var(--duration-base) ease;
  margin-top: rem(3);

  @include mq('md') {
    font-size: rem(10);
    margin-top: rem(6);
  }
}

.interviews__header .sub-section-header02__title {
  @media (max-width: 767px) {
    display: flex;
    justify-content: center;

    &::after {
      left: 50%;
      translate: -50% 0;
    }
  }
}