@use "global"as *;

.job-detail {
  margin-top: rem(80);
  container-type: inline-size;

  @include mq('md') {
    margin-top: rem(150);
  }
}

.job-detail__inner {
  display: flex;
  flex-direction: column;
  gap: rem(80);

  @include mq('md') {
    gap: rem(150);
  }
}

.job-detail__header {
  padding-top: rem(25);
  position: relative;
  margin-right: calc(50% - 50cqw);
  display: flex;
  align-items: flex-end;
  gap: rem(20);

  @include mq('md') {
    padding-top: rem(50);
    gap: rem(30);
  }
}

.job-detail__header::before {
  content: "";
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right,
      var(--main-color) 0px,
      var(--main-color) 100px,
      var(--line-color) 100px,
      var(--line-color) 100%);
}

.job-detail__category {
  font-size: rem(22);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  line-height: 1.40909;

  @include mq('md') {
    font-size: rem(32);
    line-height: 1;
    padding-bottom: rem(5);
    transform: translateY(rem(5));
  }
}

.job-detail__title {
  font-size: rem(14);
  font-weight: var(--font-weight-bold);
  line-height: 1.57143;
  display: flex;
  align-items: center;
  gap: rem(4);

  @include mq('md') {
    font-size: rem(24);
    line-height: 1;
    gap: rem(10);
  }
}

.job-detail__title::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 1px;
  background-color: var(--main-color);

  @include mq('md') {
    width: 15px;
  }
}

.job-detail__lead {
  font-size: rem(14);
  font-style: normal;
  font-weight: var(--font-weight-medium);
  line-height: 2.07143;
  margin-top: rem(40);

  @include mq('md') {
    font-size: rem(16);
    line-height: 2;
    margin-top: rem(60);
  }
}

.job-detail__interview {
  background: var(--bg-color);
  padding: rem(50) rem(30);
  display: grid;
  margin-top: rem(40);

  @media (max-width: 767px) {
    margin-inline: calc(50% - 50cqi);
    padding-inline: calc(50cqi - 50%);
    grid-template-areas: "name""info""img""text""btn";
  }

  @include mq('md') {
    padding: rem(50) rem(70);
    grid-template-columns: 708fr 208fr;
    gap: rem(44);
    margin-top: rem(60);
  }
}

.job-detail__profile {
  @media (max-width: 767px) {
    display: contents;
  }
}

.job-detail__name {
  font-size: rem(20);
  font-weight: var(--font-weight-bold);
  line-height: 1.55;

  @media (max-width: 767px) {
    grid-area: name;
  }

  @include mq('md') {
    font-size: rem(24);
    line-height: 1.8;
  }
}

.job-detail__info {
  font-size: rem(14);
  font-weight: var(--font-weight-medium);
  line-height: 2.07143;

  @media (max-width: 767px) {
    grid-area: info;
  }

  @include mq('md') {
    font-size: rem(16);
    line-height: 1.8;
  }
}

.job-detail__text {
  font-size: rem(14);
  font-weight: var(--font-weight-medium);
  line-height: 2.07143;
  margin-top: rem(20);

  @media (max-width: 767px) {
    grid-area: text;
  }

  @include mq('md') {
    font-size: rem(16);
    line-height: 2;
    margin-top: rem(25);
  }
}

.job-detail__btn {
  margin-top: rem(25);

  @media (max-width: 767px) {
    grid-area: btn;
    margin-inline: auto;
  }
}

.job-detail__img-wrap {
  border-radius: 15px;

  @media (max-width: 767px) {
    grid-area: img;
    width: 66.034%;
    margin-inline: auto;
    margin-top: rem(20);
  }

  @include mq('md') {
    border-radius: 25px;
  }
}

.job-detail__img {
  height: auto;
  object-fit: contain;
  aspect-ratio: 208 / 314;
  border-radius: 15px;

  @include mq('md') {
    border-radius: 25px;
  }
}