@use "global" as *;

.footer__info-wrap {
background-color: var(--bg-color);
}

.footer__info {
  padding: rem(90) 20px rem(80) 20px;
  @include mq('md') {
  padding: rem(90) 23px rem(80) 23px;
  max-width: 1160px;
  margin-inline: auto;
  }
}

.footer__logo {
display: flex;
align-items: center;
width: fit-content;
gap: rem(13.3);
transition: opacity var(--duration-base) ease;
@media (max-width: 767px) {
flex-direction: column;
gap: rem(18);
margin-inline: auto;

}
@media (any-hover: hover) {
&:hover {
  opacity: 0.7;
}
}
}

.footer__logo-img {
  width: rem(171.64);
  height: auto;
object-fit: contain;
}


.footer__recruit {
  color: var(--mh_gold, #C4A552);
  font-family: var(--font-family-fourth);
  font-size: rem(16);
  font-weight: var(--font-weight-medium);
  line-height: 1.25;
  letter-spacing: 0.05em;
  @include mq('md') {
  font-size: rem(20);
  line-height: 1;
  transform: translateY(rem(2));
  }
}
.footer__company {
  margin-top: rem(51);
  @include mq('md') {
  margin-top: rem(30);
  }
}
.footer__company,
.footer__tel {
  text-align: center;
  font-size: rem(14);
  font-weight: var(--font-weight-bold);
  line-height: 2.07143; /* 207.143% */
@include mq('md') {
text-align: left;
font-size: max(rem(16), 14px);
line-height: 1.5;
letter-spacing: calc(0.32 / 16 * 1em);
}
}

.footer__tel {

}

.footer__copyright {
text-align: center;
padding-block: rem(50) rem(100);
font-family: var(--font-family-second);
font-size: 10px;
font-weight: var(--font-weight-regular);
letter-spacing: calc(1 / 10 * 1em);
}

