@use "global"as *;

html {
  scroll-padding-top: rem(53);
  @include mq('md') {
    scroll-padding-top: rem(95);
  }
}

.header {
  position: fixed;
  inset: 0 0 auto 0;
  z-index: var(--z-index-header);
  background: var(--white);
  height: rem(53);
  transition: box-shadow var(--duration-base) ease;

  @include mq('md') {
    height: rem(95);
  }
}

.header.is-scroll {
  box-shadow:  0 3px 12px rgba(0,0,0,.06);
}

.header__inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: rem(50);
  gap: rem(10);
  @include mq('md') {
  padding-left: myClamp(15, 40, 768, 1440);
  gap: rem(20);
  }
}

.header__logo-link {
transition: opacity var(--duration-base) ease;
@media (any-hover: hover) {
&:hover {
  opacity: 0.7;
}
}
}

.header__logo {
  display: grid;
  align-items: flex-end;
  height: fit-content;
  grid-template-columns: rem(97.135) 1fr;
  gap: rem(6);
  @include mq('md') {
  grid-template-columns: 1fr;
  gap: rem(5);
  }
  @media (min-width: 1320px) {
    grid-template-columns: rem(171.64) 1fr;
    gap: rem(13);
  }
}

:root:not(:lang(ja)) .header__logo {
align-items: center;
}


.header__logo-img {
height: auto;
object-fit: contain;
@media (min-width: 768px) and (max-width: 1329px) {
width: rem(171.64);
}
}

:root:not(:lang(ja)) .header__logo-img {
  @include mq('md') {
  width: 80%;
  margin-inline: auto;
  }
  @media (min-width: 1320px) {
    width: 100%;
  }
}


.header__logo-text {
  color: var(--main-color2);
  font-family: var(--font-family-fourth);
  font-size: rem(12);
  font-weight: var(--font-weight-medium);
  line-height: 1.3;
  letter-spacing: 0.05em;
  @include mq('md') {
  font-size: rem(17);
  text-align: center;
  }
    @media (min-width: 1161px) {
      font-size: rem(20);
    }
}

:root:not(:lang(ja)) .header__logo-text {
  @include mq('md') {
  font-size: rem(16);
  }
}


.header__menu {
  height: 100%;
  display: flex;
  align-items: center;
}

.header__nav {
  height: 100%;
  padding-right: myClamp(15, 40, 768, 1440);
  @media (max-width: 767px) {
  display: none;
  }
}

.header__nav-list {
height: 100%;
display: flex;
align-items: center;
gap: clamp(15px, calc(15px + 26 * var(--fluid-basis)), 41px);
}

.header__nav-item {
height: 100%;
}

.header__nav-link {
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: rem(9);
box-shadow: inset 0 -2px 0 transparent;
transition: box-shadow var(--duration-base) ease;
text-align: center;

@media (any-hover: hover) {
  &:hover {
    box-shadow: inset 0 -2px 0 var(--main-color);
  }
&:hover .header__nav-label{
  color: var(--main-color);
}
&:hover .header__nav-sub {
  color: var(--main-color);
  opacity: 0.5;
}
}
}

.header__nav-link.is-current {
  box-shadow: inset 0 -2px 0 var(--main-color);

  & .header__nav-label {
    color: var(--main-color);
  }
  & .header__nav-sub {
    color: var(--main-color);
    opacity: 0.5;
  }
}

.header__nav-label {
  font-size: rem(14);
  font-weight: var(--font-weight-black);
  line-height: 1;
  letter-spacing: calc(0.14 / 14 * 1em);
  transition: color var(--duration-base) ease;
}

.header__nav-sub {
  color: var(--main-color2);
  font-family: var(--font-family-second);
  font-size: rem(10);
  font-weight: var(--font-weight-regular);
  letter-spacing: calc(0.3 / 10 * 1em);
  transition: color var(--duration-base) ease, opacity var(--duration-base) ease;
  text-transform: uppercase;
}

.header__entry {
height: 100%;
}

.header__entry-link {
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
border-radius: 0 20px 0 0;
background-color: var(--main-color);
min-width: rem(107);
padding-inline: rem(6) rem(10);
border: 2px solid var(--main-color);
transition: background-color var(--duration-base) ease;
position: relative;
@media (max-width: 767px) {
gap: rem(3);
}
@include mq('md') {
  min-width: myClamp(160, 229, 768, 1440);
  padding-inline: rem(27) rem(22);
}
@media (any-hover: hover) {
&:hover {
  background-color: var(--white);
}
&:hover .header__entry-label {
  color: var(--main-color);
}
&:hover .header__entry-text {
  color: var(--main-color);
}
&:hover::after {
  border-top: 2px solid var(--main-color);
  border-right: 2px solid var(--main-color);
}
}
}

.header__entry-link::after {
  content: '';
  position: absolute;
 top: 55%;
 translate: 0 -50%;
 right: rem(6);
 width: rem(7);
 height: rem(7);
 border-top: 2px solid #fff;
 border-right: 2px solid #fff;
 transform: translateY(-50%) rotate(45deg);
 transition: border-top var(--duration-base) ease, border-right var(--duration-base) ease;
 @include mq('md') {
  right: rem(16);
  top: 50%;
  translate: 0 -50%;
  width: 8px;
  height: 8px;
 }
}

.header__entry-label {
  color: var(--white);
  font-family: var(--font-family-second);
  font-size: rem(8);
  font-weight: var(--font-weight-bold);
  line-height: 1;
  transition: color var(--duration-base) ease;
  @include mq('md') {
    font-size: rem(12.538);
  }
}

.header__entry-text {
  color: var(--white);
font-family: var(--font-family-second);
font-size: rem(14.432);
font-style: italic;
font-weight: var(--font-weight-semibold);
letter-spacing: 4.185px;
line-height: 1;
  text-transform: uppercase;
  transition: color var(--duration-base) ease;
  @include mq('md') {
    font-size: rem(25.077);
    line-height: 1.5;
    letter-spacing: calc(7.272 / 25.077 * 1em);
  }
}

/* ===============================================
# ハンバーガー
=============================================== */

.header-hamburger {
  position: fixed;
  top: rem(12);
  left: rem(12);
  z-index: var(--z-index-hamburger);

  @include mq('md') {
    display: none;
  }
}

.header-hamburger__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(3);
  justify-content: center;
  transition: width var(--duration-short) ease;
  width: rem(26);
  height: rem(31);
  pointer-events: auto;
  position: relative;

  span {
    width: rem(18);
    height: 2px;
    background: var(--main-color);
    transition: rotate var(--duration-short) ease, translate var(--duration-short) ease;
    border-radius: calc(infinity * 1px);
  }

  &.is-open {

    span {
      width: rem(20);
      background: var(--white);
    }

    span:nth-of-type(1) {
      rotate: 45deg;
      top: 50%;
      translate: 0 -50%;
      position: absolute;
    }

    span:nth-of-type(2) {
      opacity: 0;
      visibility: hidden;
    }

    span:nth-of-type(3) {
      rotate: -45deg;
      top: 50%;
      translate: 0 -50%;
      position: absolute;
    }
  }
}

/* ===============================================
# ドロワーメニュー
=============================================== */

.header__drawer {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: var(--z-index-drawer);
  inset: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  scrollbar-width: none;
  transition: opacity var(--duration-base) ease, visibility var(--duration-base) ease;
  background-color: var(--main-color);

  @include mq('md') {
    display: none;
  }
}


.header__drawer.is-open {
  opacity: 1;
  visibility: visible;
}

.header__drawer-header {
display: flex;
align-items: center;
justify-content: center;
min-height: rem(53);
gap: rem(6.16);
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.17);
width: 100%;
}

.header__drawer-header-img {
height: auto;
object-fit: contain;
width: rem(97.135);
}

.header__drawer-header-text {
  color: var(--white);
  font-family: var(--font-family-fourth);
  font-size: rem(12);
  font-weight: var(--font-weight-medium);
  line-height: 1.3;
  letter-spacing: 0.05em;
}

.header__drawer-body {
width: 100%;
height: 100%;
padding: rem(50) rem(31);
overflow: auto;
}


.header__drawer-nav {
height: fit-content;
}

.header__drawer-items {
height: inherit;
width: 100%;
}

.header__drawer-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.50);
  width: 100%;
}

.header__drawer-item:first-of-type {
  border-top: 1px solid rgba(255, 255, 255, 0.50);
}

.header__drawer-item-link {
  padding-block: rem(24.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: rem(10);

}

.header__drawer-item-label {
  color: var(--white);
  font-size: rem(15);
  font-weight: var(--font-weight-black);
  line-height: 0.93333;
  letter-spacing: calc(0.15 / 15 * 1em);
}

.header__drawer-item-sub {
  color: var(--main-color2);
  font-family: var(--font-family-second);
  font-size: rem(10);
  font-weight: var(--font-weight-regular);
  letter-spacing: calc(0.3 / 10 * 1em);
  text-transform: uppercase;
}

.header__drawer-entry-btn {
margin-top: rem(50);
}

.header__drawer-entry-btn-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.20);
  gap: rem(1);
  padding-block: rem(11);
  position: relative;
}

.header__drawer-entry-btn-link::after {
  content: '';
  position: absolute;
 top: 55%;
 translate: 0 -50%;
 right: rem(15);
 width: rem(10);
 height: rem(10);
 border-top: 2px solid var(--main-color);
 border-right: 2px solid var(--main-color);
 transform: translateY(-50%) rotate(45deg);
}

.header__drawer-entry-btn-label {
  color: var(--main-color);
  text-align: center;
  font-family: var(--font-family-second);
  font-size: rem(11);
  font-weight: var(--font-weight-bold);
  line-height: 1;
}

.header__drawer-entry-btn-label-ls {
  letter-spacing: calc(0.99px / 11px * 1em);
}

.header__drawer-entry-btn-text {
  color: var(--main-color);
  text-align: center;
  font-family: var(--font-family-second);
  font-size: rem(28);
  font-style: italic;
  font-weight: var(--font-weight-semibold);
  line-height: 1;
  letter-spacing: calc(3.92px / 28px * 1em);
  text-transform: uppercase;
}

.body-hidden {
  overflow: hidden;
}