@use "global" as *;

.float-entry-btn-sp {
  position: fixed;
  bottom: 20px;
  left: 50%;
  translate: -50% 0;
  z-index: var(--z-index-float-entry);
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-in-out, visibility .5s ease-in-out;
  
  @include mq('md') {
    display: none;
  }
  
  &.is-scroll {
    opacity: 1;
    visibility: visible;
  }
}

.float-entry-btn-sp__inner {
  padding-inline: rem(33) rem(30);
  max-width: 500px;
  width: 100vw;
  margin-inline: auto;
}

.float-entry-btn-sp__link {
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
background-color: var(--main-color);
border-radius: 10px;
box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.20);
gap: rem(1);
padding-block: rem(10);
position: relative;
}

.float-entry-btn-sp__link::after {
  content: '';
  position: absolute;
 top: 55%;
 translate: 0 -50%;
 right: rem(15);
 width: rem(9);
 height: rem(9);
 border-top: 2px solid #fff;
 border-right: 2px solid #fff;
 transform: translateY(-50%) rotate(45deg);
 transition: border-top var(--duration-base) ease, border-right var(--duration-base) ease;
}

.float-entry-btn-sp__label {
  color: var(--white);
  text-align: center;
  font-family: var(--font-family-second);
  font-size: rem(11);
  font-weight: var(--font-weight-bold);
  line-height: 1;
}

.float-entry-btn-sp__label-ls {
  letter-spacing: calc(0.99px / 11px * 1em);
}


.float-entry-btn-sp__text {
  color: var(--white);
  text-align: center;
  font-family: var(--font-family-second);
  font-size: rem(28);
  font-style: italic;
  font-weight: (--font-weight-semibold);
  line-height: 1;
  letter-spacing: calc(3.92px / 28px * 1em);
  text-transform: uppercase;
}

