@use "global"as *;

.fv {
  height: auto;
  overflow-x: clip;
  margin-top: rem(53);

  @include mq('md') {
    margin-top: rem(95);
  }
}

.fv__inner {
  display: grid;
  container-type: inline-size;
  position: relative;

  @include mq('md') {
    grid-template-columns: 1fr myClamp(160, 229, 768, 1440);
  }
}

// .fv__video-wrap {
//   height: auto;
// }

// .fv__video {
//   height: auto;
//   width: 100%;
//   object-fit: cover;
//   border-radius: 0 0 0 20px;
//   aspect-ratio: 375 / 520;

//   @include mq('md') {
//     border-radius: 0 0 50px 0;
//     aspect-ratio: 1211 / 690;
//   }
// }

.fv__content {
  position: absolute;
  top: 97%;
  left: 51.5%;
  translate: -50% -50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 1;

  @include mq('md') {
    top: 69.5%;
    left: 69%;
  }
}

:root:not(:lang(ja)) .fv__content {
  left: 50.5%;

  @media (max-width: 767px) {
    top: 94%;
  }

  @include mq('md') {
    left: 59%;
  }
}

.fv__vision-label {
  color: var(--main-color2);
  text-align: right;
  font-family: var(--font-family-second);
  font-size: calc(15 * 100 / var(--cq-ref-mobile) * 1cqw);
  font-weight: var(--font-weight-light);
  letter-spacing: calc(-0.345px / 15px * 1em);
  text-transform: uppercase;

  @include mq('md') {
    font-size: calc(20 * 100 / var(--cq-ref) * 1cqw);
  }
}

.fv__title.fv__title--other {
  display: none;
  width: 98cqw;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;

  @media (max-width: 767px) {
    font-size: calc(20 * 100 / var(--cq-ref-mobile) * 1cqw);
  }

  @include mq('md') {
    width: 75cqw;
  }
}

.fv__title--other font {
  background-color: var(--main-color);
  line-height: 1.8;
  padding-inline: 5px;
  display: inline;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;

  @media (max-width: 767px) {
    text-indent: 5px;
  }

  @include mq('md') {
    padding-inline: 10px;
  }
}

.fv__title.fv__title--other .hl-line {
  background-color: var(--main-color);
  line-height: 1.8;
  padding-inline: 5px;
  display: inline;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;

  @media (max-width: 767px) {
    text-indent: 5px;
  }

  @include mq('md') {
    padding-inline: 10px;
  }
}

/* デフォルトは全部非表示 */
.fv__title {
  display: none;
}

/* 日本語のとき */
:root:lang(ja) .fv__title.fv__title--jp {
  display: flex;
}

/* 英語のとき */
:root:lang(en) .fv__title.fv__title--other[lang="en"] {
  display: inline;

  @media (max-width: 767px) {
    font-size: calc(18 * 100 / var(--cq-ref-mobile) * 1cqw);
  }
}

/* その他の言語（翻訳時） */
:root:not(:lang(ja)):not(:lang(en)) .fv__title.fv__title--other:not([lang="en"]) {
  display: inline;
}



.fv__vision-dot {
  background-color: var(--main-color);
  aspect-ratio: 1 / 1;
  width: calc(4 * 100 / var(--cq-ref-mobile) * 1cqw);
  margin-top: calc(14 * 100 / var(--cq-ref-mobile) * 1cqw);

  @include mq('md') {
    width: calc(7 * 100 / var(--cq-ref) * 1cqw);
    margin-top: calc(25 * 100 / var(--cq-ref) * 1cqw);
  }
}

.fv__title {
  color: #FFF;
  text-align: right;
  font-size: calc(23.806 * 100 / var(--cq-ref-mobile) * 1cqw);
  font-weight: var(--font-weight-bold);
  line-height: 1.35259;
  margin-top: calc(24 * 100 / var(--cq-ref-mobile) * 1cqw);
  flex-direction: column;
  gap: calc(5 * 100 / var(--cq-ref-mobile) * 1cqw);

  @include mq('md') {
    font-size: calc(53.383 * 100 / var(--cq-ref) * 1cqw);
    margin-top: calc(48 * 100 / var(--cq-ref) * 1cqw);
    line-height: 1.51852;
    gap: calc(10 * 100 / var(--cq-ref) * 1cqw);
  }
}

.fv__text-line {
  white-space: nowrap;
  background-color: var(--main-color);
  line-height: 1.4;
  padding-inline: calc(5 * 100 / var(--cq-ref-mobile) * 1cqw) calc(10 * 100 / var(--cq-ref-mobile) * 1cqw);

  @include mq('md') {
    padding-inline: calc(10 * 100 / var(--cq-ref) * 1cqw);
    letter-spacing: .001em;
  }
}

.fv__text-line-02 {
  letter-spacing: .009em;
}

.fv__text-line-ls01 {
  letter-spacing: calc(-4.761px / 23.806px * 1em);
}

.fv__text-line-ls02 {
  letter-spacing: calc(-7.856px / 23.806px * 1em);
}

.fv__text-line-ls03 {
  letter-spacing: calc(-2.143px / 23.806px * 1em);
}

.fv__text-line-ls04 {
  letter-spacing: calc(-2.381px / 23.806px * 1em);
}

.fv__text-line-ls05 {
  letter-spacing: calc(-1.904px / 23.806px * 1em);
}

.fv__text-line-ls06 {
  letter-spacing: calc(1.19px / 23.806px * 1em);
}

.fv__text-line-ls07 {
  letter-spacing: calc(-1.666px / 23.806px * 1em);
}

.fv__text-line-ls08 {
  letter-spacing: calc(1.904px / 23.806px * 1em);
}

.scroll-down {
  display: flex;
  flex-direction: column;
  rotate: 270deg;
  position: absolute;
  bottom: -4%;
  left: -1%;
  gap: rem(11);
  animation: scrollDown 1.6s ease-in-out infinite;

  @media (max-width: 767px) {
    display: none;
  }
}

@keyframes scrollDown {
  0% {
    bottom: -4%;
  }

  50% {
    bottom: -2%;
  }

  100% {
    bottom: -4%;
  }
}

.scroll-down__text {
  color: var(--mh_red, #E60012);
  font-family: Inter;
  font-size: clamp(10px, calc(13 * 100 / var(--cq-ref) * 1cqw), 15px);
  font-style: normal;
  font-weight: var(--font-weight-light);
  line-height: normal;
  letter-spacing: calc(2.47px / 13px * 1em);
  text-transform: uppercase;
}

.scroll-down__icon {
  width: clamp(100px, calc(135 * 100 / var(--cq-ref) * 1cqw), 150px);
}

.scroll-down__icon-img {
  height: auto;
  object-fit: contain;
}

.fv__swiper {
  z-index: 0;
}

.fv__swiper,
.fv__swiper .swiper-img,
.fv__swiper .swiper-img img {
  height: auto;
  width: 100%;
  border-radius: 0 0 0 20px;
  @include mq('md') {
    border-radius: 0 0 50px 0;
  }
}

.fv__swiper .swiper-img img {
  height: auto;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 375 / 440;
  @include mq('md') {
    aspect-ratio: 1211 / 690;
  }
  
}

.fv__swiper .swiper-slide.swiper-slide-active .swiper-img,
.fv__swiper .swiper-slide.swiper-slide-duplicate-active .swiper-img,
.fv__swiper .swiper-slide.swiper-slide-prev .swiper-img {
  animation: scale 8s linear 0s normal both;
  transform-origin: left bottom;
}

@keyframes scale {
  0% {
      transform: scale(1);
  }
  100% {
      transform: scale(1.05);
  }
}