@use "global" as *;

.top-recruit {
margin-top: rem(100);
}

.section-header.top-recruit__header {
@media (max-width: 767px) {
gap: rem(17);
}
}


.top-recruit__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(30);
margin-top: rem(49);
@include mq('md') {
grid-template-columns: repeat(3, 1fr);
}
}

.top-recruit__link {
display: block;
position: relative;
@media (any-hover: hover) {
&:hover {
  .top-recruit__text::after {
    right: rem(-45);
  }
}

&:hover .top-recruit__img {
  transform: scale(1.05);
  filter: brightness(1.1);
}

}
}

.top-recruit__img-wrap {
position: relative;
border-radius: 0 0 30px 0;
overflow: hidden;
@include mq('md') {
  border-radius: 0 0 50px 0;
  --grad-color: rgb(0,0,0);
  --grad-stop: 95%;
}
}

.top-recruit__img-wrap::after {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
border-radius: inherit;
pointer-events: none;
background: linear-gradient(
  180deg,
  rgba(0,0,0,0) 0%,
  rgba(0,0,0,0) 60%,
  var(--grad-color, #000) 100%);
@include mq('md') {
  background: linear-gradient(
    180deg,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0) 60%,
    var(--grad-color, #000) var(--grad-stop, 95%)
  );
}
}

.top-recruit__img {
  border-radius: inherit;
  height: auto;
  object-fit: cover;
  aspect-ratio: 335 / 400;
  transition: transform var(--duration-base) ease, filter var(--duration-base) ease;
  @include mq('md') {
    aspect-ratio: 347 / 450;
  }
}

.top-recruit__text {
position: absolute;
bottom: rem(20);
left: rem(20);
color: var(--white);
text-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
font-size: rem(22);
font-weight: var(--font-weight-bold);
pointer-events: none;
}

.top-recruit__text::after {
  content: "";
  position: absolute;
 top: 50%;
 translate: 0 -50%;
 background: url('../images/common/btn-arrow-red.webp') no-repeat center center / contain;
 width: rem(28);
 height: rem(8);
 right: rem(-40);
 transition: right var(--duration-base) ease;
}

